In [22]:
import pandas as pd
import numpy as np

read csv

In [23]:
df = pd.read_csv('..\\data\\sound_track_imdb_top_250_movie_tv_series.csv', delimiter=",", index_col=0)

In [24]:
df.columns

Index(['name', 'year', 'song_name', 'written_by', 'performed_by',
       'composed_by', 'lyrics_by', 'written_performed_by', 'music_by',
       'courtesy_of', 'conducted_by', 'libretto_by', 'under_license_from'],
      dtype='object')

select the needed columns and create new df

In [25]:
df_selected = df.loc[:,['name','year','song_name','performed_by']]
df_selected

,name,year,song_name,performed_by
0,The Shawshank Redemption,1994,If I Didn't Care,The Ink Spots
1,The Shawshank Redemption,1994,Duettino - Sull'aria,Edith Mathis (uncredited) and Gundula Janowitz...
2,The Shawshank Redemption,1994,Put The Blame On Mame,NaN
3,The Shawshank Redemption,1994,Lovesick Blues,Hank Williams
4,The Shawshank Redemption,1994,Willie and The Hand Jive,NaN
...,...,...,...,...
3128,"Love, Death & Robots",2019,It looks like we don't have any Soundtracks fo...,NaN
3129,Foyle's War,2002,It looks like we don't have any Soundtracks fo...,NaN
3130,Jesus of Nazareth,1977,It looks like we don't have any Soundtracks fo...,NaN
3131,Luther,2010,Paradise Circus,Massive Attack
3132,Ethos,2020,It looks like we don't have any Soundtracks fo...,NaN

In [26]:
# df_selected['performed_by'].isna().sum()

In [27]:
# filter_mask = df_selected['song_name'] == "It looks like we don't have any Soundtracks for this title yet."
# filter_mask.sum()

In [28]:
# df_selected[filter_mask]

replace "it looks like we don't ...." with NaN

In [29]:
df_selected.replace("It looks like we don't have any Soundtracks for this title yet.", "Not available", inplace=True)

In [37]:
# df_selected.reset_index(drop=True, inplace=True)
df_selected.groupby('name').count()

                       year  song_name  performed_by
name
12 Angry Men              1          1             0
12 Years a Slave         14         14            10
1883                      1          1             0
1917                      1          1             1
2001: A Space Odyssey    10         10             9
...                     ...        ...           ...
Yes, Prime Minister       1          1             0
Yojimbo                   1          1             0
Young Justice             1          1             0
Your Lie in April        11         11             0
Your Name.                4          4             0

[493 rows x 3 columns]

write df_selected to csv file

In [31]:
# df_selected.to_csv("..\\data\\filtered_movie_songs_no_idx.csv", index=False)